body{
    background-color: rgba(2, 154, 168, 0.901);
    font-family: 'Times New Roman', Times, serif Arial, Helvetica, sans-serif;
    max-width: 5000px;
    margin:center ;
    width: auto;
    padding-top: 60px;
}
header{
    background-color: rgb(1, 4, 97);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;

    height:auto;
    width:100%;
    margin: auto;
    padding:10px;
    header{
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

}

/* MENU DESLIZANTE DA ESQUERDA*/
#menu{
    position: fixed;
    top:50px;
    left: 1px;
    width: 40%;
    height: 25%;
    box-shadow: 4PX,0,15px rgba(0,0,0,0,3); 
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: auto;
    transform: translateX(-100%);
    transform: transform 1s ease;
    z-index: 1000;
    
}
#menu.ativo{
    transform:translateX(0)
}
#fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgda(0,0,0,0,5);   
    z-index: 1;
}
menu button{
    position: absolute;
    top: 10px;
    right: 10px;
}
#menu-topo input{
    height: 100%;/*Ocupa toda altura do header*/

    font-size: 40px;/*Aumenta o texto*/
    padding: 0px 22px;/* Aumenta o tamanho do botão*/
    border-radius: 8px;/*Cantos arredondados*/
    border: none;
    cursor: pointer;
    color: white;
    display: block;
    background: transparent;
    height: 100%;
    
}
#menu-topo{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: stretch;
}
/*Serviços*/
#servicos{
    padding: 40px 20px;
    background: #f5f5f5;
    text-align: center;
    border-radius: 10px;
}
.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,2);
}

.card img{
    max-width: 100%;
    border-radius: 10px;
    width: 100%;
}
.estampa , .Encardena{
    display: none;
}

 
/*GALERIA*/
#galeria{
    padding: 40px 20px;
    text-align: center;
}
.galeria-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
}
.galeria-container img, 
.galeria-container video{
    border-radius: 10px;
}
/*RODAPÉ*/
footer{
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 15;
    font-style: italic;
    border-radius: 10px;
    line-height: 1.6;/* espaço entre as linahs mais agardável*/
    border-top: 2px solid #444;/* Linha fna pap separar do conteúdo*/

}
footer a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;/*Transição suave*/
}
footer a:hover{
    color: #f0a500;/* muda a cor ao passar o mouse*/
}
footer a.animado:hover{
    animation: mudarCor 1s infinite alternate;
}
@keyframes mudarCor{
    0%{color: #fff;}
    50%{color: #f0a500;}
    100%{color: #fff;}
}

#titulo{
    color: rgb(248, 248, 252);
    text-shadow: 8px 8px 4px black;
    font-size: 40pt;
}
#subtitulo{
    color: white;
    font-size: 15pt;
}
.imagem{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    height: auto;
}
#listas{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 15px;
border-radius: 10px;


}
#listas li{
    background: #f2f2f2;
    padding:10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    list-style: none;
    
}
#desenvolvedor{
    color: white;
    margin-right: auto;
    
}
html{
    scroll-behavior: smooth;
}