body{
    background-color: rgba(2, 154, 168, 0.901);
    font-family: 'Times New Roman', Times, serif Arial, Helvetica, sans-serif;
    max-width: 5000px;
    margin:center ;
    width: auto;
    padding-top: 60px;
}
header{
    background-image:linear-gradient(180deg, rgb(3, 3, 152), rgb(8, 8, 235), rgb(76, 76, 246));
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;/*Centralizar vertical*/
    justify-content: space-between;/*Esquerda e direita*/
    height:40px;
    width:100%;
    margin: auto;
    padding:10px;
    header{
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

}

/* MENU DESLIZANTE DA ESQUERDA*/
#menu{
    position: fixed;
    top:0px;
    width: 100%;
    height: 100%;/* Altura */
    background: rgb(238, 238, 248);
    padding: 20px;
    text-align: justify;
    right: 0;/*Agora fica a direita*/
    font-size: larger;
    z-index: 9999;
    transform: translateX(100%);
    transition: 0.4s;
    
}
#menu.ativo{
    transform:translateX(0)
}
#menu-titulo{
    color: white;
align-items: center;
gap: 10px;
display: flex;
}
#menu-titulo img{
    width: auto;
    height: 40px;
}
#fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgda(0,0,0,0,5);   
    z-index: 1;
}
#menu button{
    position: absolute;
    top: 10px;
    right: 10px; /* joga o botão para direita */
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

#menu-topo input{
    height: 100%;/*Ocupa toda altura do header*/

    font-size: 40px;/*Aumenta o texto*/
    padding: 0px 22px;/* Aumenta o tamanho do botão*/
    border-radius: 8px;/*Cantos arredondados*/
    border: none;
    cursor: pointer;
    color: rgb(187, 195, 188);
    display: block;
    background: transparent;
    height: 100%;
    
}
#menu-topo{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: stretch;
}
/*Serviços*/
#servicos{
    padding: 40px 20px;
    background: #fbf6ef;
    text-align: center;
    border-radius: 10px;
}
.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    background: rgb(235, 236, 252);
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,2);
    box-shadow: 0 5px 3px black;
}

.card img{
    max-width: 100%;
    border-radius: 10px;
    width: 100%;
}
.estampa , .Encardena{
    display: none;
}

 
/*GALERIA*/
#galeria{
    padding: 40px 20px;
    text-align: center;
}
.galeria-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
}
.galeria-container img, 
.galeria-container video{
    border-radius: 10px;
    height: 200px;
}
.aceite-termos{
    text-align: center;
    margin: 20px;
    font-size: 14px;
}
.aceite-termos a{
    color: red;
    text-decoration: none;
}

/*RODAPÉ*/
footer{
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 15;
    font-style: italic;
    border-radius: 10px;
    line-height: 1.6;/* espaço entre as linahs mais agardável*/
    border-top: 2px solid #444;/* Linha fna pap separar do conteúdo*/

}
footer a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;/*Transição suave*/
}
footer a:hover{
    color: #f0a500;/* muda a cor ao passar o mouse*/
}
footer a.animado:hover{
    animation: mudarCor 1s infinite alternate;
}
@keyframes mudarCor{
    0%{color: #fff;}
    50%{color: #f0a500;}
    100%{color: #fff;}
}

#titulo{
    color: rgb(248, 248, 252);
    text-shadow: 8px 8px 4px black;
    font-size: 40pt;
}
#subtitulo{
    color: white;
    font-size: 15pt;
}
.imagem{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    height: auto;
}
#listas{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 15px;
border-radius: 10px;


}
#listas li{
    background: #e1dfdf;
    padding:10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    list-style: none;
    box-shadow: 0 2px 2px 2px  black;
    
}
#desenvolvedor{
    color: white;
    margin-right: auto;
    
}
html{
    scroll-behavior: smooth;
}
#whatsapp{
    position: fixed;
    bottom: 20px;   /* distância do fundo */
    right: 20px;    /* distância da direita */
    z-index: 1000;  /* fica por cima de tudo */
    transition: opacity 0.3s;
}

#whatsapp img{
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

#whatsapp img:hover{
    transform: scale(1.1);
}
#whatsapp img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s;

    /* 👇 adiciona isto */
    animation: pulse 1.5s infinite;
}
@keyframes pulse{
    0%{ transform: scale(1); }
    50%{ transform: scale(1.1); }
    100%{ transform: scale(1); }
    
}
#lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.8);

    justify-content: center;
    align-items: center;

    z-index: 99999;
}

#imgGrande{
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

#fechar{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#cookie-box{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 9999;
    border-top: 3px solid #25D366;
}
#cookie-box button{
    margin: 5px;
    padding: 8px 15px;
    border: none;
    border-color: 5px;
    cursor: pointer;
}
#cookie-box button.first-child{
    background: #25D366;
    color: white;
}
#cookie-box button.last-child{
    background: red;
    color: white;
}

/*---------------------- preco.html-------------------*/
#pesquisa {
    display: block;
    margin: 20px auto;
    width: 60%;
    padding: 12px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

#pesquisa:focus {
    border-color: #25D366; /* cor do WhatsApp */
    box-shadow: 0 0 5px #016526;
}

.lista-preco{
    max-width: 500px;
    margin: 10px auto 30px auto;
    padding: 0;
}
.lista-preco li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    list-style: none;
}
h2{
    margin-top: 30px;
    color: rgb(10, 88, 202);
    text-align: center;
}
#avaliacoes{
    padding: 20px;
    background: #f5f5f5;
    text-align: center;
}

.avaliacao{
    background: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
