body{
    background: normal 15pt arial;
}
section{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: white;
    text-align: center;
    top: 0%;
    
}

